management:
  endpoints:
    web:
      exposure:
        include: "*"
    shutdown:
      enabled: true

eureka:
  instance:
    nonSecurePortEnabled: false
    securePortEnabled: true

spring:
  jmx:
    enabled: true

logging:
  level:
    root: INFO

server:
  tomcat:
    accesslog:
      enabled: true
      directory: "/dev"
      prefix: stdout
      buffered: false
      suffix:
      file-date-format:
      request-attributes-enabled: true
      pattern: "[ACCESS] %h %l %u %t %r %s %b"